{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "PK" : $util.dynamodb.toDynamoDBJson("SURVEY#$context.args.id"),
        "SK" : $util.dynamodb.toDynamoDBJson("SURVEY#METADATA")
    },
    "consistentRead" : true
}
